/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  margin: 1rem;
  font-family: monospace;
  line-height: 1.5;
  background-color: snow;
  color: darkgray;
  border-color: darkgray;
}

#title {
  font-family: Courier New, monospace;
  font-size: 50px;
  font-weight: 500;
  background-color: white;
  width: fit-content;
  border-radius: 7px;
  border: solid;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
}

img {
  width: 200px;
  height: 200px;
}

button {
  padding: 8px;
  border-radius: 7px;
  margin: 0.5rem;
  background: darkgray;
  color: snow;
  font-family: monospace;
}

.hidden {
  display: none;
}

#gameButtonArea > button {
  width: 200px;
  height: 200px;
  margin: 2px;
}

#button1 {
  background: lightpink;
}
#button2 {
  background: lemonchiffon;
}
#button3 {
  background: thistle;
}
#button4 {
  background: powderblue;
}
#button5 {
  background: honeydew;
}
#button6 {
  background: moccasin;
}

#image1 {
  visibility: hidden;
}
#image2 {
  visibility: hidden;
}
#image3 {
  visibility: hidden;
}
#image4 {
  visibility: hidden;
}
#image5 {
  visibility: hidden;
}
#image6 {
  visibility: hidden;
}

#button1:active,
#button1.lit {
  background: mediumvioletred;
}
#button2:active,
#button2.lit {
  background: gold;
}
#button3:active,
#button3.lit {
  background: darkmagenta;
}
#button4:active,
#button4.lit {
  background: lightskyblue;
}
#button5:active,
#button5.lit {
  background: palegreen;
}
#button6:active,
#button6.lit {
  background: orange;
}

#button1:active img,
#button1.lit img {
  visibility: visible;
}
#button2:active img,
#button2.lit img {
  visibility: visible;
}
#button3:active img,
#button3.lit img {
  visibility: visible;
}
#button4:active img,
#button4.lit img {
  visibility: visible;
}
#button5:active img,
#button5.lit img {
  visibility: visible;
}
#button6:active img,
#button6.lit img {
  visibility: visible;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}
